<phpunit
        bootstrap="./test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Staticus">
            <directory>./test/StaticusTest</directory>
        </testsuite>
        <testsuite name="StaticusCore">
            <directory>./vendor/kivagant/staticus-core/src/test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
